.row{
    display: flex;
    justify-content: space-between;
  }
  .info{
    color:rgb(231, 229, 228);
    margin-bottom: 50px;
    padding: 15px;
  }
  .details{
    list-style-type: unstyled; 
    padding-left: 100px;
    margin-bottom: 5px;
  }
  .abc{
    color: rgb(13, 13, 13);
    font-weight: 600;
  }