.header{
    font-size: xx-large;
    font-weight: 900;
    font-family:monospace;
    color: aliceblue;
}
.wraper{
    background-color: rgba(0, 0, 0, 0.352);
    color: aliceblue;
    font-size: large;
    width: 80vh;
    height:60vh;
    margin: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2vh;
}
.buton2{
    margin-left: 20vh;
}
.h1-a{
    font-size: medium;
    margin-top: 9px;
    margin-left: 230px;
}
.h1-e{
    font-size: medium;
    margin-top: 9px;
    margin-left: 150px;
}