.forms{
    background-color: rgba(0, 0, 0, 0.352);
    color:black(136, 234, 32);
    font-size: large;
    font-family:monospace;
}
.headers{
    color: aliceblue;
    font-size: 10vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buton{
    margin-left:26vh;
}
.h1-e{
    font-size: 15px;
    margin-top: 9px;
    margin-left: 200px;
}